<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSMicrophoneUsageDescription</key>
  <string>Request microphone access to transcribe audio locally</string>
  <key>NSAudioCaptureUsageDescription</key>
  <string>Shorthand records audio playing on this Mac so it can transcribe the other side of a call or meeting. Audio is transcribed locally.</string>
</dict>
</plist>
